/* Our Story Styles */
.ourStory__wrapper {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}
.ourStory__title,
.ourGoals__title {
	font-size: 1.3rem;
	font-weight: 600;
	color: var(--black-1);
	margin-bottom: 1rem;
}

.ourStory__text,
.ourGoals__text {
	font-size: 1.2rem;
	line-height: 1.4em;
	color: var(--black-2);
}
@media only screen and (min-width: 768px) {
	.ourStory__wrapper {
		flex-direction: row;
		gap: 3rem;
	}
	.ourStory__img,
	.ourStory__info {
		flex: 1;
	}
	.ourStory__title,
	.ourGoals__title {
		font-size: 3.0rem;
	}
	
	}
	.ourStory__text,
	.ourGoals__text {
		font-size: 1.8rem;
		max-width: 800px;
	}


/* Our Goals Styles */

.ourGoals__info {
	text-align: left;
	margin-bottom: 3rem;
}
.ourGoals__imgs__wrapper img {
	object-fit: cover;
}
.ourGoals__imgs__wrapper {
	max-width: 800px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-row: auto;
	gap: 1rem;
}
.ourGoals__img1 {
	grid-row: 1/3;
}
@media only screen and (min-width: 768px) {
	.ourGoals__info {
		text-align: center;
	}
	.ourGoals__imgs__wrapper {
		gap: 2rem;
	}
	.ourGoals__text {
		margin: 0 auto;
	}
}

h3.ourStory__title {
    animation-duration: 2s;
    animation-name: slidein;
    animation-iteration-count: 1;
}
@keyframes slidein {
	0% {
	  margin-left: 0%;
	}
	30% {
	  margin-left: 300px;
	}
	100% {
	  margin-left: 0%;
	}


}
	h2 {
		text-align: center;
		font-size: 20px;
	}
	h2 small {
		display: block;
		color: #7f8c8d;
		font-weight: 300;
		font-size: 50px;
	}
	
	#slider--text {
		display: flex;
		justify-content: center;
		height: 100%;
		align-items: center;
	}
	
	.fade-in {
		animation: fade 4s infinite;
	}
	
	@keyframes fade {
		0% {
			opacity: 0;
			transform: rotate3d(2, 2, 0, 48deg);
		}
		20% {
			opacity: 1;
			transform: rotate3d(0, 0, 0, 24deg);
		}
		80% {
			opacity: 1;
			transform: rotate3d(0, 0, 0, 24deg);
		}
		100% {
			opacity: 0;
			transform: rotate3d(-2, -2, 0, 48deg);
		}
}


